body {
    background-color: rgb(59, 52, 52);
    color: antiquewhite;
     
}

header {
    text-align: center;
    text-decoration: underline;
}

p {
    ;
  text-align: center;
}

section {
    text-align: center;
}

article {
     text-align: center;
     font-size: 24;
     background-color: rgb(123, 23, 126); 
     width: 275px;
     height: 20px;
     margin: 0 auto;
     
}